# Logs
logs
*.log

# Dependency directory
node_modules
client/node_modules
server/node_modules

# Server build
server/dist/

# Npm lock files
server/package-lock.json
client/package-lock.json

# Runtime configuration for swagger app
config/runtime.yaml
