.addEmployeeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addEmployeeForm input {
    margin: 0 auto;
}

.addEmployeeForm label {
    width: 50%;
    margin: 0 auto;
}

.addEmployeeForm div {
    margin-top: 1rem;
}

.error {
    color: red;
}