.container {
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 90% 10%;
    align-items: center;
}

.employeeInformation {
    display: flex;
    flex-direction: column;
    justify-self: start;
    grid-area: 1 / 2 / span 1 / span 1;
}

.employeeDetail {
    display: flex;
    flex-direction: column;
}

.informationTitle {
    font-weight: bold;
}

img {
    grid-area: 1 / 1 / span 2 / span 1;
}

button {
    grid-area: 2 / 2 / span 1 / span 1;
    max-width: 6.2 rem;
}